.App {
  padding: 30px;
  display: flex;
  background-color: #808080;
}

.App > div {
  margin-right: 50px;
}

.todolist {
  background-color: #ffc0cb;
  border: 2px solid #f097c9;
  border-radius: 5px;
  padding: 15px;
}